<a href="https://colab.research.google.com/github/karthikshanthp/colab/blob/main/Pyspark_readCSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pyspark code to read a csv file, create RDD, inspect the dataframe, filter, create new columns, create calculated columns, group by data, perform aggregations, and finally write the dataframe into different file formats like CSV, PARQUET, TXT,JSON

In [2]:
!pip install pyspark py4j

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 5.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488490 sha256=56a89d8430d1de5fce7bc582fa55d1a8517bfa80d9e4f88f32e09b3e43bcc218
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [4]:
spark = SparkSession.builder.getOrCreate()

#Make sure the original.csv file is located in the google connected google drive account before processing this code cell

In [5]:

df =  spark.read.csv('/content/drive/MyDrive/Colab Notebooks/resources/original.csv', header=True)

In [6]:
df.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199|
|  3|    Alvera|  Di Boldi|Female|           NULL|                NULL|$57576.52|39.9947462|116.3397725|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      NULL| 37.6489954|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|
|  7|     Masha|    Divers|Female|         Dachun|                NULL|$25090.87| 24.879416| 118.930111|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793| -74.416014|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+
only showing top 20 rows

In [7]:
df.dtypes

[('id', 'string'),
 ('first_name', 'string'),
 ('last_name', 'string'),
 ('gender', 'string'),
 ('City', 'string'),
 ('JobTitle', 'string'),
 ('Salary', 'string'),
 ('Latitude', 'string'),
 ('Longitude', 'string')]

In [8]:
schema = StructType([
    StructField('id', IntegerType()),
    StructField('first_name', StringType()),
    StructField('last_name', StringType()),
    StructField('gender', StringType()),
    StructField('city', StringType()),
    StructField('JobTitle', StringType()),
    StructField('salary', StringType()),
    StructField('Latitude', FloatType()),
    StructField('Longitude', FloatType())])

In [9]:
df2 = spark.read.csv('/content/drive/MyDrive/Colab Notebooks/resources/original.csv', header=True, schema=schema)

In [10]:
df2.dtypes

[('id', 'int'),
 ('first_name', 'string'),
 ('last_name', 'string'),
 ('gender', 'string'),
 ('city', 'string'),
 ('JobTitle', 'string'),
 ('salary', 'string'),
 ('Latitude', 'float'),
 ('Longitude', 'float')]

In [11]:
df2.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
| id|first_name| last_name|gender|           city|            JobTitle|   salary|  Latitude| Longitude|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18| 50.577408| 16.496717|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|  48.82316| 103.52182|
|  3|    Alvera|  Di Boldi|Female|           NULL|                NULL|$57576.52| 39.994747|116.339775|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23| 44.504723| 38.130016|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      NULL| 37.648994|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16| 53.426613|-6.1644998|
|  7|     Masha|    Divers|Female|         Dachun|                NULL|$25090.87| 24.879416|118.930115|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36| 45.190517| 0.7423124|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027935| 106.65711|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793|-74.416016|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85| -79.88333|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70|  39.17238| 116.93161|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|  49.81518| 19.377174|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|  42.10148|-72.576675|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|  49.79233| 13.491532|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73| 43.494576|  5.897802|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48| 52.744167| 17.327864|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696247| -8.709834|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232566| 113.46868|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33| 40.717205|-8.3625145|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
only showing top 20 rows

In [12]:
df2.head(15)

[Row(id=1, first_name='Melinde', last_name='Shilburne', gender='Female', city='Nowa Ruda', JobTitle='Assistant Professor', salary='$57438.18', Latitude=50.57740783691406, Longitude=16.49671745300293),
 Row(id=2, first_name='Kimberly', last_name='Von Welden', gender='Female', city='Bulgan', JobTitle='Programmer II', salary='$62846.60', Latitude=48.823158264160156, Longitude=103.52182006835938),
 Row(id=3, first_name='Alvera', last_name='Di Boldi', gender='Female', city=None, JobTitle=None, salary='$57576.52', Latitude=39.994747161865234, Longitude=116.33977508544922),
 Row(id=4, first_name='Shannon', last_name="O'Griffin", gender='Male', city='Divnomorskoye', JobTitle='Budget/Accounting Analyst II', salary='$61489.23', Latitude=44.504722595214844, Longitude=38.1300163269043),
 Row(id=5, first_name='Sherwood', last_name='Macieja', gender='Male', city='Mytishchi', JobTitle='VP Sales', salary='$63863.09', Latitude=None, Longitude=37.64899444580078),
 Row(id=6, first_name='Maris', last_name='Folk', gender='Female', city='Kinsealy-Drinan', JobTitle='Civil Engineer', salary='$30101.16', Latitude=53.426612854003906, Longitude=-6.164499759674072),
 Row(id=7, first_name='Masha', last_name='Divers', gender='Female', city='Dachun', JobTitle=None, salary='$25090.87', Latitude=24.87941551208496, Longitude=118.93011474609375),
 Row(id=8, first_name='Goddart', last_name='Flear', gender='Male', city='Trélissac', JobTitle='Desktop Support Technician', salary='$46116.36', Latitude=45.19051742553711, Longitude=0.7423123717308044),
 Row(id=9, first_name='Roth', last_name="O'Cannavan", gender='Male', city='Heitan', JobTitle='VP Product Management', salary='$73697.10', Latitude=32.02793502807617, Longitude=106.65711212158203),
 Row(id=10, first_name='Bran', last_name='Trahear', gender='Male', city='Arbeláez', JobTitle='Mechanical Systems Engineer', salary='$68098.42', Latitude=4.272792816162109, Longitude=-74.416015625),
 Row(id=11, first_name='Kylynn', last_name='Lockart', gender='Female', city='El Cardo', JobTitle='Nuclear Power Engineer', salary='$13604.63', Latitude=-5.849999904632568, Longitude=-79.88333129882812),
 Row(id=12, first_name='Rey', last_name='Meharg', gender='Female', city='Wangqingtuo', JobTitle='Systems Administrator I', salary='$73423.70', Latitude=39.17237854003906, Longitude=116.93161010742188),
 Row(id=13, first_name='Kerr', last_name='Braden', gender='Male', city='Sułkowice', JobTitle='Compensation Analyst', salary='$33432.99', Latitude=49.815181732177734, Longitude=19.377174377441406),
 Row(id=14, first_name='Mickie', last_name='Whanstall', gender='Male', city='Springfield', JobTitle='Assistant Media Planner', salary='$50838.53', Latitude=42.101478576660156, Longitude=-72.57667541503906),
 Row(id=15, first_name='Kaspar', last_name='Pally', gender='Male', city='Chrást', JobTitle='Analyst Programmer', salary='$40163.03', Latitude=49.79233169555664, Longitude=13.491532325744629)]

In [13]:
df2.first()

Row(id=1, first_name='Melinde', last_name='Shilburne', gender='Female', city='Nowa Ruda', JobTitle='Assistant Professor', salary='$57438.18', Latitude=50.57740783691406, Longitude=16.49671745300293)

In [14]:
#statistics about the dataframe
df2.describe().show()

+-------+-----------------+----------+---------+------+-------------------+-------------------+---------+------------------+-----------------+
|summary|               id|first_name|last_name|gender|               city|           JobTitle|   salary|          Latitude|        Longitude|
+-------+-----------------+----------+---------+------+-------------------+-------------------+---------+------------------+-----------------+
|  count|             1000|      1000|     1000|  1000|                999|                998|     1000|               999|             1000|
|   mean|            500.5|      NULL|     NULL|  NULL|               NULL|               NULL|     NULL| 25.43151724702484|43.33756460386515|
| stddev|288.8194360957494|      NULL|     NULL|  NULL|               NULL|               NULL|     NULL|24.579082550156635| 69.4206453674681|
|    min|                1|   Abagail|    Abbay|Female|             Abéché|Account Coordinator|$10101.92|         -54.28115|       -123.04196|
|    max|             1000|    Zulema| de Marco|  Male|‘Aşīrah al Qiblīyah|   Web Developer IV|$99948.28|          69.63186|        175.28227|
+-------+-----------------+----------+---------+------+-------------------+-------------------+---------+------------------+-----------------+

In [15]:
df2.columns

['id',
 'first_name',
 'last_name',
 'gender',
 'city',
 'JobTitle',
 'salary',
 'Latitude',
 'Longitude']

In [16]:
df2.count()

1000

In [17]:
df2.distinct().count()

1000

In [18]:
df_dropped_nulls = df2.na.drop()
df_dropped_nulls.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
| id|first_name| last_name|gender|           city|            JobTitle|   salary|  Latitude| Longitude|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18| 50.577408| 16.496717|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|  48.82316| 103.52182|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23| 44.504723| 38.130016|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16| 53.426613|-6.1644998|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36| 45.190517| 0.7423124|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027935| 106.65711|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793|-74.416016|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85| -79.88333|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70|  39.17238| 116.93161|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|  49.81518| 19.377174|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|  42.10148|-72.576675|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|  49.79233| 13.491532|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73| 43.494576|  5.897802|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48| 52.744167| 17.327864|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696247| -8.709834|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232566| 113.46868|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33| 40.717205|-8.3625145|
| 21|      Alon|  Chasteau|  Male|          Xin’e|     Web Developer I|$62755.85|  49.16291| 127.98658|
| 22|   Guthrey|    Johnke|  Male|         Xijiao|         Developer I|$13708.03| 40.757683| 23.134218|
| 23|   Lurleen|   Janczak|Female|      Rozkishne|    Web Developer IV|$29384.72|  48.49028|  39.27122|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
only showing top 20 rows

In [19]:
df_filtered = df2.filter(df2.JobTitle.isNotNull())
df_filtered.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
| id|first_name| last_name|gender|           city|            JobTitle|   salary|  Latitude| Longitude|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18| 50.577408| 16.496717|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|  48.82316| 103.52182|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23| 44.504723| 38.130016|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      NULL| 37.648994|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16| 53.426613|-6.1644998|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36| 45.190517| 0.7423124|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027935| 106.65711|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793|-74.416016|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85| -79.88333|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70|  39.17238| 116.93161|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|  49.81518| 19.377174|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|  42.10148|-72.576675|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|  49.79233| 13.491532|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73| 43.494576|  5.897802|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48| 52.744167| 17.327864|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696247| -8.709834|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232566| 113.46868|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33| 40.717205|-8.3625145|
| 21|      Alon|  Chasteau|  Male|          Xin’e|     Web Developer I|$62755.85|  49.16291| 127.98658|
| 22|   Guthrey|    Johnke|  Male|         Xijiao|         Developer I|$13708.03| 40.757683| 23.134218|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
only showing top 20 rows

In [20]:
df_handled = df2.withColumn('clean_city', when(df2.city.isNull(), 'Unknown').otherwise(df2.city))
df_handled.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+----------+---------------+
| id|first_name| last_name|gender|           city|            JobTitle|   salary|  Latitude| Longitude|     clean_city|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+---------------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18| 50.577408| 16.496717|      Nowa Ruda|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|  48.82316| 103.52182|         Bulgan|
|  3|    Alvera|  Di Boldi|Female|           NULL|                NULL|$57576.52| 39.994747|116.339775|        Unknown|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23| 44.504723| 38.130016|  Divnomorskoye|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      NULL| 37.648994|      Mytishchi|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16| 53.426613|-6.1644998|Kinsealy-Drinan|
|  7|     Masha|    Divers|Female|         Dachun|                NULL|$25090.87| 24.879416|118.930115|         Dachun|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36| 45.190517| 0.7423124|      Trélissac|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027935| 106.65711|         Heitan|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793|-74.416016|       Arbeláez|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85| -79.88333|       El Cardo|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70|  39.17238| 116.93161|    Wangqingtuo|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|  49.81518| 19.377174|      Sułkowice|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|  42.10148|-72.576675|    Springfield|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|  49.79233| 13.491532|         Chrást|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73| 43.494576|  5.897802|         Xijiao|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48| 52.744167| 17.327864|      Mieścisko|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696247| -8.709834| Foros do Trapo|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232566| 113.46868|    Jabungsisir|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33| 40.717205|-8.3625145|          Pedra|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+---------------+
only showing top 20 rows

In [21]:
df_drop_dups = df_handled.dropDuplicates()
df_drop_dups.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+----------+---------------+
| id|first_name| last_name|gender|           city|            JobTitle|   salary|  Latitude| Longitude|     clean_city|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+---------------+
|391|     Verge|  Hefferan|  Male|     Cocachacra|Community Outreac...|$90391.71|-17.091843| -71.77114|     Cocachacra|
|995|      Niki|  Ashbrook|  Male|Novozavidovskiy|    Media Manager II|$67437.88|  56.55148|  36.43472|Novozavidovskiy|
| 87|   Celisse|   Trevers|Female|     Nezlobnaya|            Operator|$20601.37| 44.120186|  43.40174|     Nezlobnaya|
|305|   Clemmie|    Gaddas|  Male|    Vila Viçosa|Administrative As...|$44675.97| 38.775417|  -7.41612|    Vila Viçosa|
|356|   Clement|  Goodrick|  Male|         Žrnovo|Software Engineer II|$74782.64|   42.9239| 17.113007|         Žrnovo|
|401|      Roma| O'Shevlan|  Male|      Las Lomas|     Sales Associate|$89750.90|  8.443012| -82.37773|      Las Lomas|
|547|     Adena|  Halliday|Female|     Skellefteå|           Professor|$54621.01|  64.76332| 21.063148|     Skellefteå|
|552|     Ricky| Hallawell|  Male|        Thorold|     Staff Scientist|$19832.05| 43.113598| -79.21692|        Thorold|
|569|     Valma|   Bratton|Female|      Kurayoshi|    Web Developer II|$32665.89| 35.449905| 133.76134|      Kurayoshi|
|605|    Deedee|  Trippick|Female|          Angol|   Director of Sales|$43413.15|-37.806072|-72.703804|          Angol|
|879|   Dulcine|   Torrese|Female|     Neochórion|Analog Circuit De...|$81293.52|      38.7| 21.466667|     Neochórion|
|988|       Edd|    Putley|  Male|        Tiannan|  Staff Accountant I|$11209.81| 39.343357| 117.36165|        Tiannan|
| 43|   Hadrian|    Crumpe|  Male|          Rosso|Physical Therapy ...|$36879.44| 16.516342|-15.802612|          Rosso|
|114|      Penn|   Meeland|  Male|          Zhuqi|               Nurse|$38301.58| 22.270979|113.576675|          Zhuqi|
|123|      Katy| Jovicevic|Female|      Mieścisko|    Dental Hygienist|$18764.53| 58.684196| 15.751332|      Mieścisko|
|677|   Candida| Halversen|Female|         Guzhen|Mechanical System...|$94642.39| 22.613405| 113.19087|         Guzhen|
|772|  Valentia|Cicconetti|Female|         Bauchi|Systems Administr...|$71556.44| 10.300964|  9.823653|         Bauchi|
| 74|  Julietta| Andrusyak|Female|Agios Dimitrios|       VP Accounting|$32930.55| 37.935696| 23.729456|Agios Dimitrios|
|104|   Chantal| Darlaston|Female|         Kahama|Sales Representative|$27726.38| -3.837556| 32.593826|         Kahama|
|369|    Siffre|Chatterton|  Male|        Runović|           Professor|$58200.36|  43.37655| 17.231178|        Runović|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+---------------+
only showing top 20 rows

In [22]:
#bitwise operators AND , OR using multiple filters
df_mult_filter = df_handled.filter((df_handled.first_name.isin('Aldin', 'Valma')) & (df_handled.city.like('%ondon')))
# df_mult_filter = df_handled.filter((df_handled.first_name.isin('Aldin', 'Valma')) | (df_handled.city.like('%ondon')))
df_mult_filter.show()

+---+----------+-------------+------+-----------+--------+---------+----------+---------+-----------+
| id|first_name|    last_name|gender|       city|JobTitle|   salary|  Latitude|Longitude| clean_city|
+---+----------+-------------+------+-----------+--------+---------+----------+---------+-----------+
|901|     Aldin|Matuszkiewicz|  Male|East London|Operator|$41468.83|-32.954933|27.931913|East London|
+---+----------+-------------+------+-----------+--------+---------+----------+---------+-----------+

In [23]:
df2.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
| id|first_name| last_name|gender|           city|            JobTitle|   salary|  Latitude| Longitude|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18| 50.577408| 16.496717|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|  48.82316| 103.52182|
|  3|    Alvera|  Di Boldi|Female|           NULL|                NULL|$57576.52| 39.994747|116.339775|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23| 44.504723| 38.130016|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      NULL| 37.648994|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16| 53.426613|-6.1644998|
|  7|     Masha|    Divers|Female|         Dachun|                NULL|$25090.87| 24.879416|118.930115|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36| 45.190517| 0.7423124|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027935| 106.65711|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793|-74.416016|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85| -79.88333|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70|  39.17238| 116.93161|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|  49.81518| 19.377174|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|  42.10148|-72.576675|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|  49.79233| 13.491532|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73| 43.494576|  5.897802|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48| 52.744167| 17.327864|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696247| -8.709834|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232566| 113.46868|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33| 40.717205|-8.3625145|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
only showing top 20 rows

In [24]:
df2_filter_ids = df2.filter((df2.id>10) & (df2.id<100))
df2_filter_ids.show(100)

+---+----------+-----------+------+--------------------+--------------------+---------+----------+----------+
| id|first_name|  last_name|gender|                city|            JobTitle|   salary|  Latitude| Longitude|
+---+----------+-----------+------+--------------------+--------------------+---------+----------+----------+
| 11|    Kylynn|    Lockart|Female|            El Cardo|Nuclear Power Eng...|$13604.63|     -5.85| -79.88333|
| 12|       Rey|     Meharg|Female|         Wangqingtuo|Systems Administr...|$73423.70|  39.17238| 116.93161|
| 13|      Kerr|     Braden|  Male|           Sułkowice|Compensation Analyst|$33432.99|  49.81518| 19.377174|
| 14|    Mickie|  Whanstall|  Male|         Springfield|Assistant Media P...|$50838.53|  42.10148|-72.576675|
| 15|    Kaspar|      Pally|  Male|              Chrást|  Analyst Programmer|$40163.03|  49.79233| 13.491532|
| 16|    Norbie|     Gwyllt|  Male|              Xijiao|              Editor|$32492.73| 43.494576|  5.897802|
| 17|    Claude|     Briant|Female|           Mieścisko|Research Assistan...|$51862.48| 52.744167| 17.327864|
| 18|     Thain|     Habbon|  Male|      Foros do Trapo|     Design Engineer|$42135.67| 38.696247| -8.709834|
| 19|  Tiffanie|   Pattison|Female|         Jabungsisir|Senior Financial ...|$91925.08|-7.7232566| 113.46868|
| 20|    Ettore|   Gerriets|  Male|               Pedra| Staff Accountant IV|$73921.33| 40.717205|-8.3625145|
| 21|      Alon|   Chasteau|  Male|               Xin’e|     Web Developer I|$62755.85|  49.16291| 127.98658|
| 22|   Guthrey|     Johnke|  Male|              Xijiao|         Developer I|$13708.03| 40.757683| 23.134218|
| 23|   Lurleen|    Janczak|Female|           Rozkishne|    Web Developer IV|$29384.72|  48.49028|  39.27122|
| 24|    Nichol|     Holtum|Female|               Město|           Paralegal|$27797.98| 49.971825| 12.884627|
| 25|     Shaun|     Bridle|Female|               Xitou| Office Assistant IV|$71279.60| 29.866917|118.403786|
| 26|   Leandra|     Anfrey|Female|             Isfahan|VP Product Manage...|$30201.32|  32.65463| 51.667984|
| 27|    Jarvis|     Perone|  Male|           Hägersten| Associate Professor|$55313.18| 59.283207| 17.957006|
| 28|  Jaquelyn|     Hazard|Female|               Dhaka|      Tax Accountant|$68368.55| 23.810331|  90.41252|
| 29|  Prudence|   Honacker|Female|         Suphan Buri|       VP Accounting|$64920.07| 14.546672|100.079575|
| 30|    Cherey|      Liger|Female|               Itami|     Design Engineer|$94566.69|  34.77912|  135.4204|
| 31|      Neda|       Krop|Female|    Ubon Ratchathani| Software Consultant|$48945.40| 15.247888| 104.87645|
| 32| Westleigh|Belderfield|  Male|         Xiang Ngeun|      Accountant III|$78336.59|  19.76004| 102.18329|
| 33|     Odell|    Morritt|  Male|Chalan Pago-Ordot...|     Design Engineer|$72777.48| 13.444138| 144.78209|
| 34|     Barbi|  Fattorini|Female|         Wojcieszków|Desktop Support T...|$18163.55| 51.784008|  22.32681|
| 35|      Base|  Summerlad|  Male|         Changuinola|Business Systems ...|$53137.80|  9.448871| -82.48518|
| 36|     Paddy|    Ashness|  Male|            Ddmashen|        Engineer III|$34851.65| 40.568405| 44.815758|
| 37|     Nicko|      Frays|  Male|              Caxias|      Health Coach I|$99786.40|-4.8654137|   -43.362|
| 38|    Lonnie|  Townshend|Female|         As Sulayyil|Desktop Support T...|$44520.89| 20.466867|  45.56294|
| 39|    Valida|   Salzberg|Female|         Pangnirtung| Assistant Professor|$94224.48|  66.14511| -65.71252|
| 40| Pierrette|      Calow|Female|           Kaustinen|     Legal Assistant|$85120.77| 63.537266|  23.69932|
| 41|   Deirdre| Codrington|Female|         Buena Vista| Software Engineer I|$85861.33|-17.458666| -63.66915|
| 42|   Chelsie|    Yewdell|Female|             Klippan|         Engineer IV|$77039.47| 56.135742| 13.111945|
| 43|   Hadrian|     Crumpe|  Male|               Rosso|Physical Therapy ...|$36879.44| 16.516342|-15.802612|
| 44|   Orville|  Rigardeau|  Male|             Kokotów|     Data Coordiator|$20350.35| 50.014263| 20.096687|
| 45| Gabrielle|   Tippings|Female|            Huangshi|              Editor|$98690.34|  30.20003| 115.03883|
| 46|    Sollie|     D'Acth|  Male|              Mozdok|     Design Engineer|$31385.87|  43.74542| 44.683067|
| 47|   Karissa|   Steinham|Female|            Qiligang|Human Resources A...|$56333.77| 30.916426| 118.73465|
| 48|    Farlee|     Callen|  Male|         Tanjungluar|Structural Analys...|$16866.41| -8.776544| 116.50937|
| 49|  Franklyn|      Campo|  Male|             Rzhavki|      Statistician I|$62765.00| 56.012775|  37.22298|
| 50|    Joleen|    Kermeen|Female|        Pointe-Noire|     Statistician II|$31536.09| -4.769162| 11.866362|
| 51|      Devi| Brownsmith|Female|      Mariano Moreno|Structural Analys...|$11376.58| -34.70618|-58.312477|
| 52|      Seth|    Gosnell|  Male|              Ovruch|  Nurse Practicioner|$40880.00|  51.32683| 28.802896|
| 53|   Leonard|    Maskell|  Male|            Pavlovsk| Associate Professor|$70536.96|  50.54167| 40.049805|
| 54|Bartolomeo|   Draycott|  Male|            Zongzhai|VP Product Manage...|$20313.87| 34.746613| 113.62533|
| 55|   Addison|    Goudard|  Male|Palmas De Gran Ca...|Safety Technician IV|$91642.24| 28.099018|-15.420325|
| 56|   Goldina| MacFarlane|Female|               Gaohe|      Research Nurse|$25341.68|  36.14593| 113.01869|
| 57|    Sigrid|   Iglesias|Female|            Zhenyuan|Human Resources M...|$24102.95| 27.049109| 108.42969|
| 58| Valentine| Farnsworth|  Male|           Marjayoûn|Software Test Eng...|$21209.67| 33.359474|  35.58893|
| 59|      Lusa|      Kowal|Female|            Registro|   Financial Advisor|$43176.23|-24.500229| -47.84481|
| 60|       Rex|  Sapsforde|  Male|            Tartagal|Budget/Accounting...|$42001.91|-31.453413|-64.208916|
| 61|      Adam|    Seagood|  Male|         Krajan Siki|  Research Associate|$28660.11|   -8.1831|  111.5359|
| 62|  Pierette|    Zanelli|Female|          Chōfugaoka|Senior Quality En...|$72918.12| 35.655346| 139.54764|
| 63|    Antone|       Erie|  Male|          Bilohirs’k|  Help Desk Operator|$51271.99| 45.057796| 34.605095|
| 64|     Dougy|     Browse|  Male|          Neftegorsk|        Engineer III|$97531.47| 44.366554| 39.709908|
| 65|    Faydra|   Ashpital|Female|             Kakamas|Budget/Accounting...|$44648.27|-28.672731| 20.428444|
| 66|     Trish|    Yankeev|Female|             Monkayo|Assistant Media P...|$93014.49| 7.8394837| 126.05028|
| 67|    Zorine|     Dradey|Female|             Kembang| Marketing Assistant|$88665.42| -6.471274| 110.81711|
| 68|     Odell|  Hanselman|  Male|           Mosteiros|       Senior Editor|$62508.87| 39.193535| -7.286695|
| 69|     Elsey|    Leathes|Female|         Santa Tecla|   Financial Analyst|$57635.05| 13.675784|-89.289474|
| 70|      Elva|     Rabley|Female|          St. Thomas|  Analyst Programmer|$16987.33|  42.76656| -81.17475|
| 71|      Port|      Earie|  Male|             Zheyuan|Environmental Spe...|$55844.60| 30.760344| 120.75566|
| 72| Marmaduke|      Eykel|  Male|            Petrovsk|      Web Designer I|$14012.83|  52.28769| 45.360283|
| 73|   Joelynn|   Schooley|Female|            Tân Hiệp| Software Consultant|$51871.31| 10.115436| 105.28344|
| 74|  Julietta|  Andrusyak|Female|     Agios Dimitrios|       VP Accounting|$32930.55| 37.935696| 23.729456|
| 75|       Roy|  Simmonite|  Male|           Zhongying|         Developer I|$49125.16|  39.95304| 116.37121|
| 76|  Jonathon|     Rielly|  Male|              Duzhou|Automation Specia...|$66832.92| 31.298973| 120.58529|
| 77|     Randa|  Yurivtsev|Female|           Kandangan|Physical Therapy ...|$63633.33|-2.7217612|115.200775|
| 78|     Perri|      Brett|Female|             Klukeng|Software Test Eng...|$98439.49|   -8.3965|  123.0856|
| 79|     Timmi|   Rapinett|Female|                  Ul|            Operator|$75531.19| 40.815773| -8.489917|
| 80|     Kassi|    Stoakes|Female|              Pingle|     Web Designer II|$91516.53| 24.633362|  110.6433|
| 81|     Alvin|      Doman|  Male|                Niny|Research Assistant I|$53258.86| 44.486843| 43.940807|
| 82|     Maddy|   Francino|  Male|        Phra Khanong|Administrative As...|$29440.47| 13.691066| 100.61402|
| 83|   Hillary|   Rainsden|  Male|            Martyush|      Tax Accountant|$51071.58| 56.399696| 61.879974|
| 84|      Dael|     Bediss|  Male|   Chaloem Phra Kiat|      Civil Engineer|$54840.20| 9.9533825|  98.61117|
| 85|   Gothart|     Olivey|  Male|          Zhongcheng|Assistant Media P...|$99942.92| 22.356083| 112.56237|
| 86|    Conant|      Temby|  Male|              Xiying|VP Product Manage...|$49795.04| 31.340637| 119.82331|
| 87|   Celisse|    Trevers|Female|          Nezlobnaya|            Operator|$20601.37| 44.120186|  43.40174|
| 88|    Carole|      Gavan|Female|            Rajapeni| Account Coordinator|$27026.70|   -7.2841|  108.2148|
| 89|     Pablo|    Whytock|  Male|Villa Paula de Sa...|Mechanical System...|$94648.51|-32.884205|-68.799805|
| 90|    Cammie|      Stede|Female|          Sundbyberg|       Senior Editor|$45239.36| 59.368755| 17.977808|
| 91|    Ianthe|    Szubert|Female|         Trollhättan| Marketing Assistant|$26830.47| 58.322002| 12.314594|
| 92|    Lorene|     Loines|Female|           Michałowo|       Senior Editor|$36636.17| 53.032936| 23.606218|
| 93|     Rowen|     Terren|  Male|             Inuyama|               Nurse|$35134.88| 36.860374| 137.42848|
| 94|     Milka|   Brightie|Female|               Kítsi|Occupational Ther...|$31388.07| 37.851936| 23.840816|
| 95| Nickolaus|  Wollaston|  Male| Qorovulbozor Shahri|    Registered Nurse|$47221.40|  39.50308|  64.81142|
| 96|   Colette|Corradeschi|Female|           Piekoszów| Geological Engineer|$78229.00| 50.881638| 20.465929|
| 97|  Emmalynn|    Poytres|Female| Santiago dos Velhos|Human Resources M...|$19591.11|  38.94926| -9.106881|
| 98|    Enrica|  Vasyunkin|Female|           Fonte Boa|Accounting Assist...|$30039.87|-2.4681008|-66.141525|
| 99| Margarete|Andreopolos|Female|           Neglasari|    Quality Engineer|$23216.03| -6.147133| 106.62324|
+---+----------+-----------+------+--------------------+--------------------+---------+----------+----------+

In [25]:
# df2.registerTempTable('original')
df2.createOrReplaceTempView('original')

In [28]:
df_sql = spark.sql('select * from original')
# df_sql = spark.sql('select * from original where cast(replace(salary,"$",''), float) > 10000')
df_sql.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
| id|first_name| last_name|gender|           city|            JobTitle|   salary|  Latitude| Longitude|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18| 50.577408| 16.496717|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|  48.82316| 103.52182|
|  3|    Alvera|  Di Boldi|Female|           NULL|                NULL|$57576.52| 39.994747|116.339775|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23| 44.504723| 38.130016|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      NULL| 37.648994|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16| 53.426613|-6.1644998|
|  7|     Masha|    Divers|Female|         Dachun|                NULL|$25090.87| 24.879416|118.930115|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36| 45.190517| 0.7423124|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027935| 106.65711|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793|-74.416016|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85| -79.88333|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70|  39.17238| 116.93161|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|  49.81518| 19.377174|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|  42.10148|-72.576675|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|  49.79233| 13.491532|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73| 43.494576|  5.897802|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48| 52.744167| 17.327864|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696247| -8.709834|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232566| 113.46868|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33| 40.717205|-8.3625145|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
only showing top 20 rows

In [39]:
df_sql_filter = spark.sql('select  concat(first_name," ", last_name) as FullName,* from original where gender =  "Female"')
df_sql_filter.show()

+-------------------+---+----------+----------+------+----------------+--------------------+---------+----------+----------+
|           FullName| id|first_name| last_name|gender|            city|            JobTitle|   salary|  Latitude| Longitude|
+-------------------+---+----------+----------+------+----------------+--------------------+---------+----------+----------+
|  Melinde Shilburne|  1|   Melinde| Shilburne|Female|       Nowa Ruda| Assistant Professor|$57438.18| 50.577408| 16.496717|
|Kimberly Von Welden|  2|  Kimberly|Von Welden|Female|          Bulgan|       Programmer II|$62846.60|  48.82316| 103.52182|
|    Alvera Di Boldi|  3|    Alvera|  Di Boldi|Female|            NULL|                NULL|$57576.52| 39.994747|116.339775|
|         Maris Folk|  6|     Maris|      Folk|Female| Kinsealy-Drinan|      Civil Engineer|$30101.16| 53.426613|-6.1644998|
|       Masha Divers|  7|     Masha|    Divers|Female|          Dachun|                NULL|$25090.87| 24.879416|118.930115|
|     Kylynn Lockart| 11|    Kylynn|   Lockart|Female|        El Cardo|Nuclear Power Eng...|$13604.63|     -5.85| -79.88333|
|         Rey Meharg| 12|       Rey|    Meharg|Female|     Wangqingtuo|Systems Administr...|$73423.70|  39.17238| 116.93161|
|      Claude Briant| 17|    Claude|    Briant|Female|       Mieścisko|Research Assistan...|$51862.48| 52.744167| 17.327864|
|  Tiffanie Pattison| 19|  Tiffanie|  Pattison|Female|     Jabungsisir|Senior Financial ...|$91925.08|-7.7232566| 113.46868|
|    Lurleen Janczak| 23|   Lurleen|   Janczak|Female|       Rozkishne|    Web Developer IV|$29384.72|  48.49028|  39.27122|
|      Nichol Holtum| 24|    Nichol|    Holtum|Female|           Město|           Paralegal|$27797.98| 49.971825| 12.884627|
|       Shaun Bridle| 25|     Shaun|    Bridle|Female|           Xitou| Office Assistant IV|$71279.60| 29.866917|118.403786|
|     Leandra Anfrey| 26|   Leandra|    Anfrey|Female|         Isfahan|VP Product Manage...|$30201.32|  32.65463| 51.667984|
|    Jaquelyn Hazard| 28|  Jaquelyn|    Hazard|Female|           Dhaka|      Tax Accountant|$68368.55| 23.810331|  90.41252|
|  Prudence Honacker| 29|  Prudence|  Honacker|Female|     Suphan Buri|       VP Accounting|$64920.07| 14.546672|100.079575|
|       Cherey Liger| 30|    Cherey|     Liger|Female|           Itami|     Design Engineer|$94566.69|  34.77912|  135.4204|
|          Neda Krop| 31|      Neda|      Krop|Female|Ubon Ratchathani| Software Consultant|$48945.40| 15.247888| 104.87645|
|    Barbi Fattorini| 34|     Barbi| Fattorini|Female|     Wojcieszków|Desktop Support T...|$18163.55| 51.784008|  22.32681|
|   Lonnie Townshend| 38|    Lonnie| Townshend|Female|     As Sulayyil|Desktop Support T...|$44520.89| 20.466867|  45.56294|
|    Valida Salzberg| 39|    Valida|  Salzberg|Female|     Pangnirtung| Assistant Professor|$94224.48|  66.14511| -65.71252|
+-------------------+---+----------+----------+------+----------------+--------------------+---------+----------+----------+
only showing top 20 rows

In [47]:
from pyspark.sql.functions import *
df2 = df2.withColumn('Clean_Salary', df2.salary.substr(2,100).cast('float'))
# .filter(df2.Clean_Salary, when(df2.Clean_Salary > 7000, df2.Clean_Salary.otherwise(df2.Clean_Salary+3000)))
df2.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+----------+------------+
| id|first_name| last_name|gender|           city|            JobTitle|   salary|  Latitude| Longitude|Clean_Salary|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+------------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18| 50.577408| 16.496717|    57438.18|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|  48.82316| 103.52182|     62846.6|
|  3|    Alvera|  Di Boldi|Female|           NULL|                NULL|$57576.52| 39.994747|116.339775|    57576.52|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23| 44.504723| 38.130016|    61489.23|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      NULL| 37.648994|    63863.09|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16| 53.426613|-6.1644998|    30101.16|
|  7|     Masha|    Divers|Female|         Dachun|                NULL|$25090.87| 24.879416|118.930115|    25090.87|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36| 45.190517| 0.7423124|    46116.36|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027935| 106.65711|     73697.1|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793|-74.416016|    68098.42|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85| -79.88333|    13604.63|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70|  39.17238| 116.93161|     73423.7|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|  49.81518| 19.377174|    33432.99|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|  42.10148|-72.576675|    50838.53|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|  49.79233| 13.491532|    40163.03|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73| 43.494576|  5.897802|    32492.73|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48| 52.744167| 17.327864|    51862.48|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696247| -8.709834|    42135.67|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232566| 113.46868|    91925.08|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33| 40.717205|-8.3625145|    73921.33|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+------------+
only showing top 20 rows

In [49]:
df2.describe().show()

+-------+-----------------+----------+---------+------+-------------------+-------------------+---------+------------------+-----------------+-----------------+
|summary|               id|first_name|last_name|gender|               city|           JobTitle|   salary|          Latitude|        Longitude|     Clean_Salary|
+-------+-----------------+----------+---------+------+-------------------+-------------------+---------+------------------+-----------------+-----------------+
|  count|             1000|      1000|     1000|  1000|                999|                998|     1000|               999|             1000|             1000|
|   mean|            500.5|      NULL|     NULL|  NULL|               NULL|               NULL|     NULL| 25.43151724702484|43.33756460386515|55487.95562890625|
| stddev|288.8194360957494|      NULL|     NULL|  NULL|               NULL|               NULL|     NULL|24.579082550156635| 69.4206453674681|25855.22985831031|
|    min|                1|   Abagail|    Abbay|Female|             Abéché|Account Coordinator|$10101.92|         -54.28115|       -123.04196|         10101.92|
|    max|             1000|    Zulema| de Marco|  Male|‘Aşīrah al Qiblīyah|   Web Developer IV|$99948.28|          69.63186|        175.28227|         99948.28|
+-------+-----------------+----------+---------+------+-------------------+-------------------+---------+------------------+-----------------+-----------------+

In [56]:
df2 = df2.withColumn('monthly_salary', (df2.Clean_Salary/12).cast('float'))
df2.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+----------+------------+--------------+
| id|first_name| last_name|gender|           city|            JobTitle|   salary|  Latitude| Longitude|Clean_Salary|monthly_salary|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+------------+--------------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18| 50.577408| 16.496717|    57438.18|      4786.515|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|  48.82316| 103.52182|     62846.6|      5237.217|
|  3|    Alvera|  Di Boldi|Female|           NULL|                NULL|$57576.52| 39.994747|116.339775|    57576.52|     4798.0435|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23| 44.504723| 38.130016|    61489.23|     5124.1025|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      NULL| 37.648994|    63863.09|     5321.9243|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16| 53.426613|-6.1644998|    30101.16|       2508.43|
|  7|     Masha|    Divers|Female|         Dachun|                NULL|$25090.87| 24.879416|118.930115|    25090.87|     2090.9058|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36| 45.190517| 0.7423124|    46116.36|       3843.03|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027935| 106.65711|     73697.1|     6141.4253|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793|-74.416016|    68098.42|     5674.8687|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85| -79.88333|    13604.63|     1133.7191|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70|  39.17238| 116.93161|     73423.7|      6118.642|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|  49.81518| 19.377174|    33432.99|     2786.0823|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|  42.10148|-72.576675|    50838.53|     4236.5444|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|  49.79233| 13.491532|    40163.03|     3346.9192|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73| 43.494576|  5.897802|    32492.73|     2707.7275|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48| 52.744167| 17.327864|    51862.48|     4321.8735|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696247| -8.709834|    42135.67|      3511.306|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232566| 113.46868|    91925.08|     7660.4233|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33| 40.717205|-8.3625145|    73921.33|      6160.111|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+------------+--------------+
only showing top 20 rows

In [65]:
df2 = df2.withColumn('are_they_female', when(df2.gender == 'female', 'yes').otherwise('no'))
# df2 = df2.withColumn('are_they_female', when((upper(df2.gender)) == 'FEMALE'), 'yes')).otherwise('no'))
df2.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+----------+------------+--------------+---------------+
| id|first_name| last_name|gender|           city|            JobTitle|   salary|  Latitude| Longitude|Clean_Salary|monthly_salary|are_they_female|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+------------+--------------+---------------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18| 50.577408| 16.496717|    57438.18|      4786.515|             no|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|  48.82316| 103.52182|     62846.6|      5237.217|             no|
|  3|    Alvera|  Di Boldi|Female|           NULL|                NULL|$57576.52| 39.994747|116.339775|    57576.52|     4798.0435|             no|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23| 44.504723| 38.130016|    61489.23|     5124.1025|             no|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      NULL| 37.648994|    63863.09|     5321.9243|             no|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16| 53.426613|-6.1644998|    30101.16|       2508.43|             no|
|  7|     Masha|    Divers|Female|         Dachun|                NULL|$25090.87| 24.879416|118.930115|    25090.87|     2090.9058|             no|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36| 45.190517| 0.7423124|    46116.36|       3843.03|             no|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027935| 106.65711|     73697.1|     6141.4253|             no|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793|-74.416016|    68098.42|     5674.8687|             no|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85| -79.88333|    13604.63|     1133.7191|             no|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70|  39.17238| 116.93161|     73423.7|      6118.642|             no|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|  49.81518| 19.377174|    33432.99|     2786.0823|             no|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|  42.10148|-72.576675|    50838.53|     4236.5444|             no|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|  49.79233| 13.491532|    40163.03|     3346.9192|             no|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73| 43.494576|  5.897802|    32492.73|     2707.7275|             no|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48| 52.744167| 17.327864|    51862.48|     4321.8735|             no|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696247| -8.709834|    42135.67|      3511.306|             no|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232566| 113.46868|    91925.08|     7660.4233|             no|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33| 40.717205|-8.3625145|    73921.33|      6160.111|             no|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+------------+--------------+---------------+
only showing top 20 rows

In [66]:
import pyspark.sql.functions as sql_func

In [72]:
# df3 = df2.groupBy('gender').agg(sql_func.sum('monthly_salary').alias('total_monthly_salary_by_gender').cast('float'))
df3 = df2.groupBy('gender').agg(sql_func.sum('monthly_salary').cast('float').alias('total_monthly_salary_by_gender'))
df3.show()

+------+------------------------------+
|gender|total_monthly_salary_by_gender|
+------+------------------------------+
|Female|                     2280376.8|
|  Male|                     2343619.8|
+------+------------------------------+

In [84]:
df3 = df2.groupBy('gender','city').agg(sql_func.sum('clean_salary').alias('total_salary'),
                                       sql_func.avg('clean_salary').alias('avg_salary'),
                                       sql_func.max('clean_salary').alias('max_salary'),
                                       sql_func.min('clean_salary').alias('min_salary'),
                                       sql_func.count('clean_salary').alias('max_count_emp')

                                       )
# df3.show()
df3.sort(desc('max_count_emp')).show()

+------+------------+----------------+-----------------+----------+----------+-------------+
|gender|        city|    total_salary|       avg_salary|max_salary|min_salary|max_count_emp|
+------+------------+----------------+-----------------+----------+----------+-------------+
|  Male|     Cuogang|202341.990234375|50585.49755859375|  82505.36|  11832.43|            4|
|Female| Trollhättan|106623.369140625| 53311.6845703125|   79792.9|  26830.47|            2|
|  Male|Kuala Lumpur|  121664.8828125|   60832.44140625|   79030.6|  42634.28|            2|
|  Male|      Melaka| 135305.95703125|  67652.978515625|  94743.26|   40562.7|            2|
|  Male|      Xijiao|46200.7607421875|23100.38037109375|  32492.73|  13708.03|            2|
|  Male| Tanjungluar|  38955.69921875|  19477.849609375|  22089.29|  16866.41|            2|
|Female|   Mieścisko| 70627.009765625| 35313.5048828125|  51862.48|  18764.53|            2|
|Female|       Copán|      110448.125|       55224.0625|  70378.23|   40069.9|            2|
|  Male|    Arbeláez|  157116.1328125|   78558.06640625|  89017.71|  68098.42|            2|
|Female|       Skene| 138061.27734375|  69030.638671875|  76849.72|  61211.56|            2|
|Female|     Baalbek| 107504.80078125|  53752.400390625|  59975.62|  47529.18|            2|
|Female|     Moulins|   136687.703125|    68343.8515625|  69062.63|  67625.07|            2|
|  Male|      Dallas| 55870.408203125| 27935.2041015625|  36098.65|  19771.76|            2|
|  Male|   Mieścisko|  44947.12109375|  22473.560546875|  26039.31|  18907.81|            2|
|  Male|      Jiyang| 111250.42578125|  55625.212890625|  69976.55|  41273.88|            2|
|Female|      Dachun| 25090.869140625|  25090.869140625|  25090.87|  25090.87|            1|
|  Male|     Wenshao| 18941.509765625|  18941.509765625|  18941.51|  18941.51|            1|
|Female|       Lanas| 13765.900390625|  13765.900390625|   13765.9|   13765.9|            1|
|  Male|       Mörön|    77940.078125|     77940.078125|  77940.08|  77940.08|            1|
|Female|        Same|   73369.7265625|    73369.7265625|  73369.73|  73369.73|            1|
+------+------------+----------------+-----------------+----------+----------+-------------+
only showing top 20 rows

Writing files to destination formats like CSV, TXT, PARQUET, AVRO

In [91]:
df3.write.mode('overwrite').option("header",True).csv('/content/drive/MyDrive/Colab Notebooks/resources/output/employees_by_gender_city.csv')

In [92]:
df3.write.mode('overwrite').option("header", True).json('/content/drive/MyDrive/Colab Notebooks/resources/output/employees_by_gender_city.json')

In [93]:
df3.write.mode('overwrite').option("header",True).parquet('/content/drive/MyDrive/Colab Notebooks/resources/output/employees_by_gender_city.parquet')

We cant write into AVRO format directly from pyspark library

In [96]:
# import com.databricks.spark.avro._
# import org.apache.spark.sql.SparkSession
# df3.write.mode('overwrite').option("header",True).avro('/content/drive/MyDrive/Colab Notebooks/resources/output/employees_by_gender_city.avro')

Read a new csv file

In [104]:
df =  spark.read.csv('/content/drive/MyDrive/Colab Notebooks/resources/input/challenge.csv', header=True)
df.show()

+---------------+--------------+-----------------+----------+
|     ip_address|       Country|      Domain Name|Bytes_used|
+---------------+--------------+-----------------+----------+
|  52.81.192.172|         China| odnoklassniki.ru|       463|
| 119.239.207.13|         China|         youtu.be|        51|
|  68.69.217.210|         China|        adobe.com|        10|
|   7.191.21.223|      Bulgaria|     linkedin.com|       853|
|   211.13.10.68|     Indonesia|          hud.gov|        29|
|   239.80.21.97|      Suriname|       smh.com.au|       218|
|106.214.106.233|       Jamaica|    amazonaws.com|        95|
| 127.242.24.138|         China| surveymonkey.com|       123|
|     99.2.6.139|Czech Republic|     geocities.jp|       322|
|   237.54.11.63|         China|       amazon.com|        83|
| 252.141.157.25|         Japan|      cornell.edu|       374|
|185.220.128.248|       Belgium|       weebly.com|       389|
|   151.77.19.45|   Afghanistan|independent.co.uk|       282|
|  9.161.158.225|     Indonesia|    bloglines.com|       726|
| 156.144.61.155|Czech Republic|   slideshare.net|       657|
|   8.96.188.151|     Indonesia|          ibm.com|       517|
|      5.72.7.65|        Mexico|         youtu.be|       877|
|227.110.112.144|       Croatia|         ehow.com|       287|
|    81.71.28.97|      Thailand|          last.fm|       588|
|  9.255.129.184|      Thailand|          mtv.com|       114|
+---------------+--------------+-----------------+----------+
only showing top 20 rows

In [105]:
df = df.withColumn('isMexico', when(df.Country == 'Mexico', 'yes').otherwise('no'))
df.show()

+---------------+--------------+-----------------+----------+--------+
|     ip_address|       Country|      Domain Name|Bytes_used|isMexico|
+---------------+--------------+-----------------+----------+--------+
|  52.81.192.172|         China| odnoklassniki.ru|       463|      no|
| 119.239.207.13|         China|         youtu.be|        51|      no|
|  68.69.217.210|         China|        adobe.com|        10|      no|
|   7.191.21.223|      Bulgaria|     linkedin.com|       853|      no|
|   211.13.10.68|     Indonesia|          hud.gov|        29|      no|
|   239.80.21.97|      Suriname|       smh.com.au|       218|      no|
|106.214.106.233|       Jamaica|    amazonaws.com|        95|      no|
| 127.242.24.138|         China| surveymonkey.com|       123|      no|
|     99.2.6.139|Czech Republic|     geocities.jp|       322|      no|
|   237.54.11.63|         China|       amazon.com|        83|      no|
| 252.141.157.25|         Japan|      cornell.edu|       374|      no|
|185.220.128.248|       Belgium|       weebly.com|       389|      no|
|   151.77.19.45|   Afghanistan|independent.co.uk|       282|      no|
|  9.161.158.225|     Indonesia|    bloglines.com|       726|      no|
| 156.144.61.155|Czech Republic|   slideshare.net|       657|      no|
|   8.96.188.151|     Indonesia|          ibm.com|       517|      no|
|      5.72.7.65|        Mexico|         youtu.be|       877|     yes|
|227.110.112.144|       Croatia|         ehow.com|       287|      no|
|    81.71.28.97|      Thailand|          last.fm|       588|      no|
|  9.255.129.184|      Thailand|          mtv.com|       114|      no|
+---------------+--------------+-----------------+----------+--------+
only showing top 20 rows

In [106]:
df_isMexico = df.groupBy('isMexico').agg(sql_func.sum('bytes_used').alias('total_bytes_used'))
df_isMexico.show()

+--------+----------------+
|isMexico|total_bytes_used|
+--------+----------------+
|      no|        508076.0|
|     yes|          6293.0|
+--------+----------------+

In [109]:
df_country_ip = df.groupBy('Country').agg(sql_func.countDistinct('ip_address').alias('count_distinct_ips'))
df_country_ip.sort(desc('count_distinct_ips')).show()

+--------------+------------------+
|       Country|count_distinct_ips|
+--------------+------------------+
|         China|               172|
|     Indonesia|               114|
|   Philippines|                65|
|        Russia|                56|
|        Brazil|                35|
|        Poland|                31|
|        Sweden|                28|
|         Japan|                25|
|Czech Republic|                23|
|      Portugal|                23|
|        France|                21|
|          Peru|                19|
|      Colombia|                17|
| United States|                15|
|     Argentina|                14|
|       Ukraine|                14|
|        Mexico|                13|
|      Thailand|                12|
|       Nigeria|                11|
|        Canada|                11|
+--------------+------------------+
only showing top 20 rows

In [111]:
df.write.mode('overwrite').option("header",True).csv('/content/drive/MyDrive/Colab Notebooks/resources/output/challenge.csv')
df_country_ip.sort(desc('count_distinct_ips')).write.mode('overwrite').option("header",True).csv('/content/drive/MyDrive/Colab Notebooks/resources/output/challenge_country_ip.csv')
#