<a href="https://colab.research.google.com/github/karthikshanthp/colab/blob/main/Pyspark01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=a692208d69b3ea42c1263f4daf65340f9d833f352576d5b499d576f4e32912ae
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [17]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("pyspark").getOrCreate()
data=[(45,'rob',1),(43,'bob',2),(53,'bobatea',3)]
df=spark.createDataFrame(data,['age','name', 'id'])
datarole=[(1,'engineer'),(2,'sales'),(3,'marketing')]
dfrole=spark.createDataFrame(datarole,['role_id','role_name'])
dataroleusermap=[(1,1),(2,3),(3,2)]
dfroleusermap=spark.createDataFrame(dataroleusermap,['role_id','id'])

In [18]:
df.show()
dfrole.show()
dfroleusermap.show()

+---+-------+---+
|age|   name| id|
+---+-------+---+
| 45|    rob|  1|
| 43|    bob|  2|
| 53|bobatea|  3|
+---+-------+---+

+-------+---------+
|role_id|role_name|
+-------+---------+
|      1| engineer|
|      2|    sales|
|      3|marketing|
+-------+---------+

+-------+---+
|role_id| id|
+-------+---+
|      1|  1|
|      2|  3|
|      3|  2|
+-------+---+

In [11]:
print(df.sort('age').show())

+---+----+
|age|name|
+---+----+
| 43| bob|
| 45| rob|
+---+----+

None

In [20]:
dfjoin=dfroleusermap.join(df,dfroleusermap.id==df.id).show()
      #  .join(dfrole,dfroleusermap.role_id==dfrole.role_id).show()

+-------+---+---+-------+---+
|role_id| id|age|   name| id|
+-------+---+---+-------+---+
|      1|  1| 45|    rob|  1|
|      3|  2| 43|    bob|  2|
|      2|  3| 53|bobatea|  3|
+-------+---+---+-------+---+

In [30]:
dfresultjoin = dfroleusermap.join(df, dfroleusermap.id==df.id) \
    .join(dfrole, dfroleusermap.role_id==dfrole.role_id) \
    .select(df.name,df.age,dfrole.role_name) \
    .orderBy(df.age.asc()).show()

+-------+---+---------+
|   name|age|role_name|
+-------+---+---------+
|    bob| 43|marketing|
|    rob| 45| engineer|
|bobatea| 53|    sales|
+-------+---+---------+