<a href="https://colab.research.google.com/github/karthikshanthp/colab/blob/main/pyspark_complex_joins.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark==3.1.3

Collecting pyspark==3.1.3
  Downloading pyspark-3.1.3.tar.gz (214.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 214.0/214.0 MB 4.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9 (from pyspark==3.1.3)
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 198.6/198.6 kB 18.1 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.3-py2.py3-none-any.whl size=214463461 sha256=74b32343c43548135ad9adc13cc7404775fa494671dfd81c7c81b5c316cfabe0
  Stored in directory: /root/.cache/pip/wheels/b0/d0/fd/b0e0165f0fbd79838d2f50c544382e7a5346274f0af07ffada
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9 pyspark-3.1.3

In [87]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [5]:
data = {'age': '31', 'name': 'karthik'}

In [ ]:
df= spark.read.json("/content/sample_data/anscombe.json")
df2=spark.read.load("/content/sample_data/anscombe.json", format="json")
df.show()

In [22]:
df2.show()

+------+----+-----+---------------+
|Series|   X|    Y|_corrupt_record|
+------+----+-----+---------------+
|  null|null| null|              [|
|     I|10.0| 8.04|           null|
|     I| 8.0| 6.95|           null|
|     I|13.0| 7.58|           null|
|     I| 9.0| 8.81|           null|
|     I|11.0| 8.33|           null|
|     I|14.0| 9.96|           null|
|     I| 6.0| 7.24|           null|
|     I| 4.0| 4.26|           null|
|     I|12.0|10.84|           null|
|     I| 7.0| 4.81|           null|
|     I| 5.0| 5.68|           null|
|    II|10.0| 9.14|           null|
|    II| 8.0| 8.14|           null|
|    II|13.0| 8.74|           null|
|    II| 9.0| 8.77|           null|
|    II|11.0| 9.26|           null|
|    II|14.0|  8.1|           null|
|    II| 6.0| 6.13|           null|
|    II| 4.0|  3.1|           null|
+------+----+-----+---------------+
only showing top 20 rows

In [39]:
# df2.head(5)
# df2.dtypes
# df2.printSchema()
# df2.first()
df2.take(2)

[Row(Series=None, X=None, Y=None, _corrupt_record='['),
 Row(Series='I', X=10.0, Y=8.04, _corrupt_record=None)]

In [41]:
df.cache()

DataFrame[Series: string, X: double, Y: double, _corrupt_record: string]

In [42]:
df.schema

StructType(List(StructField(Series,StringType,true),StructField(X,DoubleType,true),StructField(Y,DoubleType,true),StructField(_corrupt_record,StringType,true)))

In [45]:
dfcust=spark.read.load("/content/sample_data/Customer.csv", header=True, format="csv")

In [46]:
dfcust.show()

+---+------+--------------+-----+
|Age|Gender|Payment Method|Label|
+---+------+--------------+-----+
| 64|  male|   credit card|  yes|
| 35|  male|        cheque|  yes|
| 25|female|   credit card|  yes|
| 39|female|   credit card|   no|
| 39|  male|   credit card|  yes|
| 28|female|        cheque|   no|
| 21|female|   credit card|  yes|
| 48|  male|   credit card|  yes|
| 70|female|   credit card|   no|
| 36|  male|   credit card|  yes|
| 22|  male|   credit card|  yes|
| 53|female|          cash|   no|
| 27|  male|          cash|  yes|
| 40|  male|   credit card|  yes|
| 22|  male|          cash|  yes|
| 49|female|   credit card|   no|
| 24|female|          cash|   no|
| 45|  male|   credit card|  yes|
| 45|  male|   credit card|  yes|
| 66|female|          cash|   no|
+---+------+--------------+-----+
only showing top 20 rows

In [47]:
dfcust.sort(['age','gender'], orderby=[0,1]).show()

+---+------+--------------+-----+
|Age|Gender|Payment Method|Label|
+---+------+--------------+-----+
| 17|female|          cash|   no|
| 17|female|   credit card|  yes|
| 17|female|          cash|   no|
| 17|female|   credit card|  yes|
| 17|female|   credit card|  yes|
| 17|female|   credit card|  yes|
| 17|female|   credit card|  yes|
| 17|female|   credit card|  yes|
| 17|female|   credit card|  yes|
| 17|female|   credit card|  yes|
| 17|female|   credit card|  yes|
| 17|female|   credit card|  yes|
| 17|female|   credit card|  yes|
| 17|female|   credit card|  yes|
| 17|female|   credit card|  yes|
| 17|female|        cheque|   no|
| 17|  male|        cheque|  yes|
| 17|  male|   credit card|  yes|
| 17|  male|   credit card|  yes|
| 17|  male|          cash|  yes|
+---+------+--------------+-----+
only showing top 20 rows

In [66]:
# dfcustfiltered=dfcust.filter(col('age')>45).sort(dfcust['age'].asc()).filter((dfcust['payment method']== "cash" ) & (dfcust['Gender']=="male")).show()
dfcustfiltered=dfcust.filter(col('age')>45).sort(dfcust['age'].asc()).filter((dfcust['payment method']== "cash" ) & (dfcust['Gender']=="male"))

In [75]:
dfcustfiltered.show()

+---+------+--------------+-----+
|Age|Gender|Payment Method|Label|
+---+------+--------------+-----+
| 46|  male|          cash|   no|
| 46|  male|          cash|   no|
| 47|  male|          cash|   no|
| 47|  male|          cash|   no|
| 47|  male|          cash|   no|
| 48|  male|          cash|   no|
| 49|  male|          cash|   no|
| 50|  male|          cash|   no|
| 50|  male|          cash|   no|
| 50|  male|          cash|   no|
| 51|  male|          cash|   no|
| 51|  male|          cash|   no|
| 51|  male|          cash|   no|
| 51|  male|          cash|   no|
| 52|  male|          cash|   no|
| 52|  male|          cash|   no|
| 52|  male|          cash|   no|
| 52|  male|          cash|   no|
| 52|  male|          cash|   no|
| 52|  male|          cash|   no|
+---+------+--------------+-----+
only showing top 20 rows

In [83]:
dfcustfiltered.groupBy('age').count().sort('count', ascending= True).filter(col('count')>=3).show()

+---+-----+
|age|count|
+---+-----+
| 70|    3|
| 81|    3|
| 67|    3|
| 56|    3|
| 47|    3|
| 50|    3|
| 55|    3|
| 51|    4|
| 65|    4|
| 54|    4|
| 57|    4|
| 68|    4|
| 72|    5|
| 52|    6|
+---+-----+

In [93]:
import pyspark
dfcustfiltered.persist(pyspark.StorageLevel.MEMORY_ONLY)
dfcustfiltered.unpersist()

DataFrame[Age: string, Gender: string, Payment Method: string, Label: string]

In [3]:
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [6]:
spark = SparkSession.builder.appName("JOins example").getOrCreate()

In [7]:
dataemp = [["1", "sravan", "company 1"],
        ["2", "ojaswi", "company 1"],
        ["3", "rohith", "company 2"],
        ["4", "sridevi", "company 1"],
        ["5", "bobby", "company 1"]]

colemp = ["deptid", "empname","company"]

datadept = [["1", "45000", "IT"],
         ["2", "145000", "Manager"],
         ["6", "45000", "HR"],
         ["5", "34000", "Sales"]]
coldept = ["deptid","salary","dept"]

In [8]:
dfemp = spark.createDataFrame(dataemp, colemp)
dfdept = spark.createDataFrame(datadept, coldept)

In [9]:
dfemp.show()

+------+-------+---------+
|deptid|empname|  company|
+------+-------+---------+
|     1| sravan|company 1|
|     2| ojaswi|company 1|
|     3| rohith|company 2|
|     4|sridevi|company 1|
|     5|  bobby|company 1|
+------+-------+---------+

In [10]:
dfdept.show()

+------+------+-------+
|deptid|salary|   dept|
+------+------+-------+
|     1| 45000|     IT|
|     2|145000|Manager|
|     6| 45000|     HR|
|     5| 34000|  Sales|
+------+------+-------+

In [11]:
dffinal = dfemp.join(dfdept, on=dfemp.deptid ==dfdept.deptid, how="inner")

In [12]:
dffinal.show()

+------+-------+---------+------+------+-------+
|deptid|empname|  company|deptid|salary|   dept|
+------+-------+---------+------+------+-------+
|     5|  bobby|company 1|     5| 34000|  Sales|
|     1| sravan|company 1|     1| 45000|     IT|
|     2| ojaswi|company 1|     2|145000|Manager|
+------+-------+---------+------+------+-------+

In [15]:
dffinalleftanti = dfemp.join(dfdept, on =dfemp.deptid==dfdept.deptid, how="left_anti")

In [16]:
dffinalleftanti.show()

+------+-------+---------+
|deptid|empname|  company|
+------+-------+---------+
|     3| rohith|company 2|
|     4|sridevi|company 1|
+------+-------+---------+

In [21]:
dffinalrightanti = dfdept.join(dfemp, on = dfemp.deptid==dfdept.deptid, how="left_anti")

In [22]:
dffinalrightanti.show()

+------+------+----+
|deptid|salary|dept|
+------+------+----+
|     6| 45000|  HR|
+------+------+----+

In [25]:
dfOuter = dfemp.join(dfdept, on = dfemp.deptid==dfdept.deptid, how="full_outer")

In [26]:
dfOuter.show()

+------+-------+---------+------+------+-------+
|deptid|empname|  company|deptid|salary|   dept|
+------+-------+---------+------+------+-------+
|     3| rohith|company 2|  null|  null|   null|
|     5|  bobby|company 1|     5| 34000|  Sales|
|  null|   null|     null|     6| 45000|     HR|
|     1| sravan|company 1|     1| 45000|     IT|
|     4|sridevi|company 1|  null|  null|   null|
|     2| ojaswi|company 1|     2|145000|Manager|
+------+-------+---------+------+------+-------+

In [28]:
dfbroadcast = dfemp.join(broadcast(dfdept), dfemp.deptid==dfdept.deptid, "inner")

In [29]:
dfbroadcast.show()

+------+-------+---------+------+------+-------+
|deptid|empname|  company|deptid|salary|   dept|
+------+-------+---------+------+------+-------+
|     1| sravan|company 1|     1| 45000|     IT|
|     2| ojaswi|company 1|     2|145000|Manager|
|     5|  bobby|company 1|     5| 34000|  Sales|
+------+-------+---------+------+------+-------+